img {
border-radius: 50%;
width: 200px;
height: 200px;

}

.column {
    align-content: center;
    float: left;
    width: 20%;
    padding: 22px;
  }
  
.caption{
    align-items: center;
}


.page-header{
    text-align: center;
}